
<html>
<head>
	<title>Snake Game</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>var socket = io();</script>
	<script type="text/javascript" src="javascripts/game2.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<h1>CycleSnake</h1>
<h3>One vs. One</h3>
<!-- Lets make a simple snake game -->
<canvas id="canvas" width="450" height="450"></canvas>


</body>
</html>